<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Redbull</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHasilAnalisis.css') }}">

  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>

<body class="sub_page">
  <div id="data-container" data-topicid="{{ topicId | safe }}"></div>
  <div id="data-tweets" data-tweets="{{ tweets }}"></div>
  
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="hasilAnalisis.html">
            <span class="title_result mt-1">
              <img src="{{ url_for('static', filename='images/result.png') }}">
              Result
            </span>
          </a>
          <div class="navbar-brand">
            <span class="result">
              Redbull
            </span>
          </div>
          <div class="navbar-collapse" id="">
            <div class="user_option">
              <!-- Informasi Akun yang Sedang Login -->
              <div class="user_profile">
                <img src="{{ url_for('static', filename='images/Notifications.png') }}" alt="User Profile">
                <img src="{{ url_for('static', filename='images/ppict.png') }}" alt="User Profile">
              </div>
              <div class="user_info">
                <span class="user_name">John Doe</span>
                <span class="user_role">Administrator</span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <div class="sidebar">
      <a href="#">
        <img src="{{ url_for('static', filename='images/bttnresult.png') }}" alt="Result">
        Result
      </a>
      <a href="{{ url_for('form') }}">
        <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home">
        Home
      </a>
    </div>

    <div class="result_analisys">
      <div class="keywoard">
        <div class="row text">
          <div class="col-2 mt-2">
            <h3>Keywoard</h3>
          </div>
          <div class="button-container col-10 mt-1">
            <button class="filter-button" id="allKeyword">All Keyword</button>
            <button class="filter-button" id="prabowo">Prabowo</button>
            <button class="filter-button" id="ganjar">Ganjar</button>
            <button class="filter-button" id="anies">Anies</button>
          </div>   
        </div>
        
        <div class="visualisasi">
          <div class="mt-4">
            <h3 class="mt-2 ml-3">Peak Time</h3>
            <canvas id="myChart" width="60" height="30"></canvas>
          </div>
          <div class="mt-4">
            <h3 class="mt-2 ml-3">Sentiment</h3>
            <div class="row">
              <div class="col-md-10">
                <canvas id="myChart2" width="60" height="30"></canvas>
              </div>
              <div class="col-md-2" style="font-size: 12px;">
                <div class="row">
                  <b>Prabowo</b>
                </div>
                <div class="row" style="color:#00E096;">
                  ● 200
                </div>
                <div class="row" style="color:#EE1E1E;">
                  ● 200
                </div>
                <div class="row" style="margin-bottom: 7px; color:#979797;">
                  ● 200
                </div>
                <div class="row">
                  <b>Ganjar</b>
                </div>
                <div class="row" style="color:#00E096;">
                  ● 200
                </div>
                <div class="row" style="color:#EE1E1E;">
                  ● 200
                </div>
                <div class="row" style="margin-bottom: 7px; color:#979797;">
                  ● 200
                </div>
                <div class="row">
                  <b>Anies</b>
                </div>
                <div class="row" style="color:#00E096;">
                  ● 200
                </div>
                <div class="row" style="color:#EE1E1E;">
                  ● 200
                </div>
                <div class="row" style="margin-bottom: 7px; color:#979797;">
                  ● 200
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <div class="tweets">
          <div style="margin-top: 30px;">
            <div>
              <h3 class="mt-2 ml-3">Tweets</h3>
              <div id="filter-container" style="margin-bottom: 20px;">
                <label for="filterDropdown">Filter by:</label>
                <select id="filterDropdown" style="cursor: pointer;">
                  <option value="all">All</option>
                  <option value="positif">Positif</option>
                  <option value="negatif">Negatif</option>
                  <option value="netral">Netral</option>
                </select>
              </div>
            </div>
              <div id="tweet-container" class="ml-3">
              </div>
            </div>            
          </div>
        </div>
      </div>   
    </div>

    

  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/hasilAnalisis.js') }}"></script>

  <script>
    var tweetData = JSON.parse(document.getElementById('data-tweets').getAttribute('data-tweets'));
    console.log(tweetData)

    const tweetContainer = document.getElementById('tweet-container');
    const filterDropdown = document.getElementById('filterDropdown');
  
    function createTweetCard(tweet, sentimentClass) {
      const tweetCard = document.createElement('div');
      tweetCard.classList.add('tweet-card');
      tweetCard.innerHTML = `
      <div class="tweet-content" onclick="redirectToTweet('${tweet.tweet_url}')">
        <div class="row">
          <div class="col-10">
            <span class="tweet-username">${tweet.username}<br></span>
            <span class="tweet-text">${tweet.full_text}</span>
          </div>
          <div class="col-2">
            <span class="sentiment-label ${sentimentClass}" style="text-transform:capitalize"><b>${tweet.label}<b></span>
          </div>
        </div>
      </div>
      `;
      return tweetCard;
    }

    function filterTweets() {
      tweetContainer.innerHTML = '';

      let selectedData;
      const selectedOption = filterDropdown.value;

      if (selectedOption === 'positif' || selectedOption === 'negatif' || selectedOption === 'netral') {
        selectedData = tweetData.by_label[selectedOption];
      } else {
        selectedData = tweetData.general;
      }

      selectedData.forEach((tweet, index) => {
        const sentimentClass = tweet.label.toLowerCase();
        const tweetCard = createTweetCard(tweet, sentimentClass);

        if (index < tweetData.general.length - 1) {
        tweetCard.innerHTML += '<br>';
        }

        tweetContainer.appendChild(tweetCard);
      });
    }

    filterTweets();

    filterDropdown.addEventListener('change', filterTweets);



    function redirectToTweet(url) {
      window.open(url, '_blank');
    }
  </script>

  

</body>

</html>