<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Redbull</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHasilAnalisis.css') }}">

  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>

<body class="sub_page">
  <div id="data-container" data-topicid="{{ topicId }}"></div>
  
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="hasilAnalisis.html">
            <span class="title_result mt-1">
              <img src="{{ url_for('static', filename='images/result.png') }}">
              Result
            </span>
          </a>
          <div class="navbar-brand">
            <span class="result">
              Redbull
            </span>
          </div>
          <div class="navbar-collapse" id="">
            <div class="user_option">
              <!-- Informasi Akun yang Sedang Login -->
              <div class="user_profile">
                <img src="{{ url_for('static', filename='images/Notifications.png') }}" alt="User Profile">
                <img src="{{ url_for('static', filename='images/ppict.png') }}" alt="User Profile">
              </div>
              <div class="user_info">
                <span class="user_name">John Doe</span>
                <span class="user_role">Administrator</span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <div class="sidebar">
      <a href="#">
        <img src="{{ url_for('static', filename='images/bttnresult.png') }}" alt="Result">
        Result
      </a>
      <a href="{{ url_for('form') }}">
        <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home">
        Home
      </a>
    </div>

    <div class="result_analisys">
      <div class="keywoard">
        <div class="row text">
          <div class="col-2 mt-2">
            <h3>Keywoard</h3>
          </div>
          <div class="button-container col-10 mt-1">
            <button class="filter-button" id="allKeyword">All Keyword</button>
            <button class="filter-button" id="prabowo">Prabowo</button>
            <button class="filter-button" id="ganjar">Ganjar</button>
            <button class="filter-button" id="anies">Anies</button>
          </div>   
        </div>
        
        <div class="visualisasi">
          <div class="mt-4">
            <h3 class="mt-2 ml-3">Peak Time</h3>
            <canvas id="myChart" width="60" height="22"></canvas>
          </div>
          <div class="mt-4">
            <h3 class="mt-2 ml-3">Sentiment</h3>
            <canvas id="myChart2" width="60" height="22"></canvas>
          </div>
          <div>
            <h3 class="mt-2 ml-3">Top Candidate</h3>
          </div>
          <div>
            <h3 class="mt-2 ml-3">Tweets</h3>
          </div>
        </div>
      </div>   
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/hasilAnalisis.js') }}"></script>

</body>

</html>