<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>REDBULL</title>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylehome.css') }}">
  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand">
            <span>
              Redbull
            </span>
          </a>
          <div class="navbar-collapse" id="">
            <div class="user_option">
              <!-- Informasi Akun yang Sedang Login -->
              <div class="user_profile">
                <img style="width: 30px; height: 30px;" src="{{ url_for('static', filename='images/Notifications.png') }}" alt="User Profile">
                <img src="{{ url_for('static', filename='images/ppict.png') }}" alt="User Profile">
              </div>
              <div class="user_info">
                <span class="user_name">John Doe</span>
                <span class="user_role">Admin</span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- topic section -->
  <section class="layout_padding">
    <div class="container">
      <!-- Container without d-flex class -->
      <div class="topic-container">
        <div class="topic-title">
          Topic
          <button id="addTopicButton" class="create-button">
            <img src="{{ url_for('static', filename='images/Export.png') }}" alt="Create Image">
            Create
          </button>
        </div>
        <div class="topic-subtitle">
          Topic Lists
        </div>
        <!-- Container for topic cards -->
        <div class="scrolling-container">
          <!-- Loop through topics and generate topic cards -->
          <form method="post" action="{{ url_for('form') }}">
            <div class="row" id="topicCardsContainer">
              {% for topic in topics %}
              <div class="col-md-3 mb-4">
                <div class="topic-card">
                  <div class="row card-click" id="topicCard{{ topic.topicId }}" data-topicid="{{ topic.topicId }}">
                    <div class="col-md-4">
                      <img class="topic-card-img" src="{{ url_for('static', filename='images/Icon.png') }}" alt="Topic1">
                    </div>
                  </div>
                  <div class="row card-click" id="topicCard{{ topic.topicId }}" data-topicid="{{ topic.topicId }}">
                    <div class="col-md-12">
                      <div class="topic-card-title" id="topicCardTitle">
                        {{ topic.title }}
                      </div>
                    </div>
                  </div>
                  <div class="topic-card-text" id="topicCardText">
                    {{ topic.since }} s.d.<br>{{ topic.until }}
                  </div>
                  <div class="topic-card-text2" id="topicCardText2">
                    Total Data: {{ topic.amount }}
                  </div>
                  <div class="row">
                    <button type="button" class="delete-button" onclick="deleteTopic('{{ topic.topicId }}')" data-topicid="{{ topic.topicId }}">Delete</button>
                  </div>                  
                </div>
              </div>
              {% endfor %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end topic section -->

  <!-- AddTopic Modal -->
  <div id="addTopicModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div>
        <label>Create Topic</label>
      </div>

      <!-- Form for adding a topic -->
      <form id="addTopicForm">
        <div>
          <label class="modal-content2" for="title">Title:</label>
          <input type="text" id="title" name="title" class="underline-input">
        </div>
        <div>
          <label class="modal-content2" for="amount">Total Data:</label>
          <input type="text" id="amount" name="amount" class="underline-input">
        </div>
        <div style="margin-bottom: 10px;">
          <label class="modal-content2">Timeline:</label>
          <div class="form-check">
            <input type="radio" id="defaultTimeline" name="timeline" class="form-check-input" onchange="toggleTimeline()">
            <label class="checkbox-text" for="defaultTimeline">Latest</label>
          </div>
          <div class="form-check">
            <input type="radio" id="enableTimeline" name="timeline" class="form-check-input" onchange="toggleTimeline()">
            <label class="checkbox-text" for="enableTimeline">Customize</label>
          </div>
        </div>
        <div class="date-box" id="timelineFields">
          <div class="row">
            <div class="col-md-12">
              <label class="modal-content2 fontsize14" for="startDate">Start Date:</label>
              <input class="modal-content2 fontsize14" type="date" id="startDate" name="startDate">
            </div>
            <div class="col-md-12">
              <label class="modal-content2 fontsize14" for="endDate">End Date:</label>
              <input class="modal-content2 fontsize14" type="date" id="endDate" name="endDate">
            </div>
          </div>
        </div>
        <div class="loading" id="loadingIndicator" style="display: none;"> <!-- Modified loading element -->
          <div class="loader"></div> <!-- Loader added here -->
          <p>Processing Your Request ...</p>
        </div>
        <div class="button-container">
          <button type="button" class="cancel-button" onclick="closeModal()">Cancel</button>
          <button type="button" class="create-button2" onclick="submitForm()">Create</button>
        </div>
      </form>
    </div>
  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2023 Redbull
    </p>
  </footer>
  <!-- footer section -->

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
