body {
    font-family: "Poppins",
    sans-serif;
    color: #0c0c0c;
    background-color: #f9fafb;
  }
  
  .layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  /*header section*/
  .hero_area {
    position: relative;
    background-color: #ffffff;
  }
  
  .sub_page .header_section {
    position: unset;
  }
  
  .header_section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
    width: 22px;
    margin-right: 15px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px;
    color: #fefeff;
    text-align: center;
    font-family: "Roboto",
    sans-serif;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand span {
    font-size: 24px;
    font-weight: 700;
    color: #240a5e;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
  }
  
  .user_option {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 95px;
  }
  
  .user_profile img {
    width: 35px; /* Sesuaikan ukuran gambar profil sesuai kebutuhan */
    height: 35px;
    border-radius: 20%; /* Untuk membuat gambar profil berbentuk lingkaran */
    margin-right: 10px;
  }
  
  .user_info {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
  }
  
  .user_name {
    font-weight: bold;
    font-size: 13px;
  }
  
  .user_role {
    font-style: italic;
    color: #737791;
    font-size: 10px;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: 'Poppins';
    color: #050505;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
  }
  
  
  .modal-content2 {
    text-align: left;
    font-family: 'Poppins';
    color: #757575;
    font-size: 15px;
    font-weight: 500;
  }
  
  .checkbox-text {
    text-align: left;
    font-family: 'Poppins';
    color: #757575;
    font-size: 14px;
    font-weight: 500;
  }
  
  .fontsize14 {
    font-size: 14px;
  }
  
  .date-box {
    display: none;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button,
  .create-butto2n {
    padding: 10px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #e9eef9; /* Warna ungu sesuai keinginan Anda */
    color: #333333; /* Warna teks */
    font-size: 15px;
    font-weight: 550;
    font-family: 'Poppins';
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-button2 {
    background-color: #5F65F6; /* Warna ungu sesuai keinginan Anda */
    color: #ffffff; /* Warna teks */
    font-size: 15px;
    font-weight: 550;
    font-family: 'Poppins';
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .underline-input {
    font-family: 'Public Sans';
    font-size: 15px;
    border: none;
    outline: none; /* Menghapus border focus */
    border-bottom: 1px solid #757575; /* Warna garis sesuai keinginan Anda */
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Gaya tambahan saat input diaktifkan */
  .underline-input:focus {
    border-bottom: 2px solid #5D5FEF; /* Warna garis saat input diaktifkan */
  }
  
  /* Custom styling for date input */
  input[type="date"] {
    width: 100%; /* Lebar 100% agar responsif */
    padding: 5px; /* Padding untuk penampilan yang lebih baik */
    box-sizing: border-box; /* Padding dan border tidak mempengaruhi lebar total */
  }
  
  
  .create-button {
    background-color: #A6A7FC; /* Warna ungu sesuai keinginan Anda */
    color: #ffffff; /* Warna teks */
    font-size: 10px;
    font-family: 'Poppins';
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .create-button img {
    margin-right: 5px; /* Jarak antara gambar dan teks */
  }
  
  .topic-container {
    width: 80%;
    text-align: center; /* Mengatur teks menjadi rata tengah */
    background-color: #5D5FEF; /* Ganti warna latar belakang sesuai kebutuhan */
    border-radius: 20px; /* Menjadikan sudut container bulat */
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Title styling */
  .topic-title {
    display: flex;
    text-align: left;
    font-family: 'Poppins';
    color: #f1f1f1;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  /* Subtitle styling */
  .topic-subtitle {
    text-align: left;
    font-family: 'Poppins';
    color: #f1f1f1;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  /* Card container styling */
  .card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Jarak antara teks dan card */
  }
  
  .topic-card {
    width: 220px;
    height: 220px;
    background-color: #FFE2E5;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Mengatur tata letak menjadi kolom */
  }
  
  .topic-card-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  .topic-card-title {
    text-align: left;
    font-family: 'Poppins';
    color: #050505;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .topic-card-text {
    text-align: left;
    font-family: 'Poppins';
    color: #050505;
    font-size: 15px;
    font-weight: 500;
  }
  .topic-card-text2 {
    text-align: left;
    font-family: 'Poppins';
    color: #425166;
    font-size: 13px;
    font-weight: 500;
  }
  .topic-card-text3 {
    text-align: left;
    font-family: 'Poppins';
    color: #4079ED;
    font-size: 10px;
    font-weight: 500;
    margin-top: auto;
  }
  
  /* footer section*/
  .footer_section {
    background-color: #f9fafb;
    padding: 20px;
  }
  
  .footer_section p {
    margin-left: 50px;
    text-align: left;
    color: #7e7e7e;
    font-size: 15px;
  }
  
  .footer_section a {
    color: #fefdfc;
  }